<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        img{
            max-width: 100%;
        }
    </style>
</head>
<body>
<h1>Tittel</h1>
<form method="post" enctype="multipart/form-data">
<label>Project: <input type="text" name="project" value="{{settings.project}}"/></label><br>
<label>Description: <input type="text" name="description" value="{{settings.description}}"/></label><br>
<img src="/image.jpg" /><br>
<label>Image: <input type="file" name="image"/></label><br>
<label>Owner: <input type="text" name="owner" value="{{settings.owner}}"/></label><br>
<label>Phone number: <input type="number" name="number" value="{{settings.number}}"/></label><br>
<label>type:{{settings.type}}
    <select name="type" value="{{settings.type}}">
    <option {% if "prototype" == settings.type %} selected{% endif %} value="prototype">Prototype</option>
    <option {% if "tool" == settings.type %} selected{% endif %} value="tool">Tool</option>
    <option {% if "project" == settings.type %} selected{% endif %} value="project">Project</option>
    <option {% if "materials" == settings.type %} selected{% endif %} value="materials">Materials</option>
    </select>
</label><br>
<input type="submit" value="save"/>
</form>

<script>
</script>
</body>
</html>
